/* @import 'tippy.js/dist/tippy.css'; */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  background: whitesmoke;
}

.main-wrapper {
  height: 100vh;
}

/** TO DO: Use the header as the calc offset */
.inner-wrapper {
  height: calc(100vh - 62px);
  display: flex;
  justify-content: center;
}

/* Header */
.header {
  text-align: center;
}

/* Login  */
.login-wrapper {
}

/* Tippy Tooltip */
.tippy-box[data-theme~='blueberry'] {
  background-color: #6b9edc;
  color: white;
  font-size: 17px;
  padding: 0px 2px;
  font-family: sans-serif;
}

.tippy-box[data-theme~='blueberry'][data-placement^='top']
  > .tippy-arrow::before {
  border-top-color: #6b9edc;
}

.tippy-box[data-theme~='blueberry'] > .tippy-arrow::before {
  transform: scale(1.2);
}

/* Chat Panel */
.chat-panel {
  position: fixed;
  z-index: 100;
  right: -400px;
  background: #363636;
  height: 100vh;
  width: 400px;
  transition: right 0.2s;
}

.chat-is-open {
  right: 0;
}

.chat-toggle-btn {
  visibility: visible;
  position: absolute;
  left: 0;
  background: black;
  font-size: 1.4em;
  left: -54px;
  color: #ffffff;
  top: 53px;
  padding: 8px 8px 8px 12px;
  background: #febd3f;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.chat-toggle-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.chat-panel.open {
  right: 0px;
}

.chat-close-btn {
  background: #e29828;
  padding: 4px 8px;
  border-radius: 22px;
  font-family: sans-serif;
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 100;
  font-size: 0.8em;
  opacity: 0.7;
}

.chat-close-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.chat-header {
  position: relative;
  text-align: center;
  background: #5f5f5f;
}

.chat-title {
  padding: 10px;
  font-family: sans-serif;
  font-size: 1.2em;
  color: white;
  opacity: 0.7;
}

.chat-messages {
  overflow-y: scroll;
  height: calc(100vh - 118px);
}

.chat-panel-msg {
  background: white;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 10px 10px 20px;
  font-family: sans-serif;
  color: #303030;
}

.chat-composer {
  position: absolute;
  z-index: 100;
  bottom: 0px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #5f5f5f;
}

.chat-composer .chat-input {
  text-align: left;
  background: white;
  margin: 10px;
  border-radius: 10px;
  padding: 8px;
  font-family: sans-serif;
  color: #3d3d3d;
  width: 78%;
}

.chat-send-btn {
  background: orange;
  border-radius: 24px;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #303030;
  font-size: 1em;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.chat-send-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.chat .messages p {
  border-radius: 5px;
  background: white;
  margin: 10px;
  padding: 4px;
}

/* Todd Carousel */
.todd-carousel {
  width: 900px;
  min-width: 380px;
  margin: 20px 0px;
}

.splide__slide img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* TipTap */
.editor-wrapper {
  position: relative;
  margin-top: 5px;
  display: flex;
}

.editor {
  background: white;
  border: 2px solid rgb(210, 210, 210);
  border-radius: 5px;
  width: 100%;
}

.tiptap {
  padding: 10px 20px;
  text-align: left;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 1.1em;
  color: rgb(88, 88, 88);
  height: 480px;
  overflow: scroll;
}

.tiptap p {
  margin: 0.2em 0;
}

.editor-copy-btn {
  position: absolute;
  z-index: 90;
  padding: 8px 12px;
  border-radius: 22px;
  right: 0;
  background: #6b9edc;
  color: white;
  margin: 16px 20px;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.editor-copy-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* Collaboration Cursor */
/* Give a remote user a collab caret */
.collaboration-cursor__caret {
  border-left: 1px solid #0d0d0d;
  border-right: 1px solid #0d0d0d;
  margin-left: -1px;
  margin-right: -1px;
  pointer-events: none;
  position: relative;
  word-break: normal;
}

/* Render username above collab caret */
.collaboration-cursor__label {
  border-radius: 3px 3px 3px 0;
  color: white;
  font-size: 0.5em;
  font-style: normal;
  font-weight: 400;
  left: -1px;
  line-height: normal;
  padding: 0.1rem 0.3rem 0.2rem 0.3rem;
  position: absolute;
  top: -0.6em;
  user-select: none;
  white-space: nowrap;
}

/* 
  Scrollbar
  ensure editor scroll bar is visible if present 
*/

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #a1a1a1;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

